

body{
    background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

h1{
    color:white;
    font-size: 60px;
    font-weight: bolder;
    margin-left:350px;
}

.container{
    display: flex;
    margin-top:100px;
    margin-left: 300px;;
}


.container .learner{
    margin-left:300px;
}
h2{
    margin-left:20px;
}



 a{
    text-decoration: none;
    margin-top:30px;
    margin-left:30px;
    font-size: 20px;;
    color:skyblue;
    font-size: 20px;
 font-weight: bolder;
    border: 5px red;
    padding:2px;
    border-radius: 1px;
 }

 a:hover{
     color:black;
 }
 
